
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
.container {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 25%;
    /*position: fixed;*/
    height: 100vh;
   /* flex: 1;*/
   margin-right: 10px;
    margin: 1%;
    margin-top: 0px;
    /*background-color: lightgray;*/
    padding: 20px;
    
}
.info1{
    width: 25%;
    /*background-color: lightgray;*/
    height: 500px;
    margin-top: 1px;
    position: fixed; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size:30px ; 
}
h1{
    /*font-family:'Tangerine', serif;*/
    font-family: 'Lobster', sans-serif;
    font-size: 48px;
    align-items: center;
    
}
/*.menu-lateral{
    text-decoration: none;
    color: black;
}*/
.menu-lateral{
    display: block;
    padding: 10px;
     margin: 5px 0;
    text-decoration: none;
    color: #333;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    flex: 1;
    /*margin-left: 25%;*/
    margin: 0%;
    /*background-color: lightgray;*/
    padding: 20px;
    height: 100%;
}
.foto{
    width: 100%;
    height: 223px;
    margin: 0px;
    display: flex; /* Utiliza el modelo de caja flexible para alinear elementos */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 10px; /* Añade un poco de espacio alrededor del contenido del header */
    color: #fff; /* Color del texto */
    
}
.foto-perfil{
    display: inline-block;
    width: 25%;
    height: 95%;
    /*border: 2px solid black;*/
}
img {
    width:100%; /* La imagen se ajusta al 100% del ancho del contenedor */
    height: 100%; /* La imagen también se ajusta al 100% de la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen se ajuste completamente al contenedor sin deformarla */
    display: block;
  }
.info-perfil{
    margin-top: 0;
    display: inline-block;
    width: 70%;
    height: 95%;
    /*border: 2px solid black;*/
    margin-left: 2%;
    position: relative; /* Establece la posición relativa para que los botones se posicionen en relación con este contenedor */
    text-align: right; /* Alinea el contenido a la derecha dentro del contenedor */
    padding: 10px; /* Añade relleno para mejorar la apariencia */
}
.boton {
    background-color: #ddd; /* Color de fondo gris claro */
    padding: 10px 20px; /* Añade relleno para darle tamaño a los botones */
    margin: 5px; /* Añade margen para separar los botones */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es interactivo */
}
.menu{
    width: 100%;
    height: 80px;
    margin-top: 1px;
    /*margin: 1%;*/
    padding: 20px;
}

.nombre-logo {
    position: absolute; /* Establece la posición absoluta para ubicar el párrafo en relación con el contenedor */
    top: 10px; /* Coloca el párrafo en la parte superior del contenedor */
    left: 10; /* Coloca el párrafo en la parte izquierda del contenedor */
    color: black; /* Color del texto "Nicolás" */
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.uribe {
    color: green; 
    display: block;
    margin-top: -18px;
    margin-right: 39px;
}

.descripcion {
    color: black;
    font-size: 20px;
    margin-top: 70px;
    text-align: left; 
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}    


.opciones {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    background-color: #fff; 
    text-align: center;
    line-height: 80px; 
    color: #333; 
    text-decoration: none;
    margin-right: 50px; 
    border: 2px solid black;
}
.primer{
    margin-left: 120px;
    display: inline-block;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    background-color: #fff; 
    text-align: center;
    line-height: 80px; 
    color: #333; 
    text-decoration: none;
    margin-right: 50px; 
    border: 2px solid black;
}

.box3 {
    /*flex: 1;*/
    width: 100%;
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
}
/*zona tarjetas*/

main{
    width: 100%;
}
.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tarjeta {
    width: calc(33.33% - 10px); /* 1px de separación en cada lado */
    height: 0; /* Altura inicial 0 para calcular el aspect ratio */
    padding-bottom: calc(33.33% - 10px); /* Aspect ratio cuadrado y 1px de separación */
    border-radius: 5%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    overflow: hidden; /* Oculta el contenido que puede salir de la tarjeta */
    box-sizing: border-box; /* El padding se cuenta como parte del ancho y alto */
    
}
.imagen-tarjeta{
    display: inline-block; 
}
.img-tarjeta{
    border-radius: 5%;
    width: 100%;
    height: 42vh;
    object-fit: cover;
    display: block;
}

.tarjeta:hover {
    transform: scale(1.06);
}


.tarjeta.expandida {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 0;
    margin-top: 0;
    background-color:aqua;
}
.tarjeta.expandida:hover {
    
    transform: scale(1);
}
.tarjeta.expandida a {
    display: none;
}

.tarjeta.contenido {
    display: none;
}

.tarjeta.expandida.contenido {
    display: block;
    text-align: center;
    padding: 20px;
}


.tarjeta.expandida h3 {
    font-size: 2em;
}

.tarjeta.expandida p {
    font-size: 1.2em;
    margin-top: 10px;
}

