/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");*/
.container {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 25%;
    /*position: fixed;*/
    height: 100vh;
   /* flex: 1;*/
   margin-right: 10px;
    margin: 1%;
    margin-top: 0px;
    /*background-color: lightgray;*/
    padding: 20px;
    
}
.info1{
    width: 25%;
    background-color: lightgray;
    height: 500px;
    margin-top: 1px;
    position: fixed; 
    
}
h1{
    font-family:'Tangerine', serif;
    font-size: 48px;
    align-items: center;
    
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    flex: 1;
    /*margin-left: 25%;*/
    margin: 0%;
    /*background-color: lightgray;*/
    padding: 20px;
    height: 100%;
}
.foto{
    /*background-color: brown;*/
    
    width: 100%;
    height: 200px;
    /*margin: 1%;*/
    padding: 20px;
    margin: 0px;
}
.foto-perfil{
    display: inline-block;
    width: 25%;
    height: 95%;
    /*border: 2px solid black;*/
}
img {
    width:100%; /* La imagen se ajusta al 100% del ancho del contenedor */
    height: 100%; /* La imagen también se ajusta al 100% de la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen se ajuste completamente al contenedor sin deformarla */
    display: block;
  }
.info-perfil{
    margin-top: 0;
    display: inline-block;
    width: 70%;
    height: 95%;
    border: 2px solid black;
    margin-left: 2%;

}
.menu{
    background-color: brown;
    width: 100%;
    height: 50px;
    margin-top: 1px;
    /*margin: 1%;*/
    padding: 20px;
}

.box3 {
    /*flex: 1;*/
    width: 100%;
    margin-top: 20px;
    background-color: lightblue;
    padding: 20px;
}
/*zona tarjetas*/

main{
    width: 100%;
}
.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.tarjeta {
    width: calc(33.33% - 2px); /* 1px de separación en cada lado */
    height: 0; /* Altura inicial 0 para calcular el aspect ratio */
    padding-bottom: calc(33.33% - 2px); /* Aspect ratio cuadrado y 1px de separación */
    margin: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    overflow: hidden; /* Oculta el contenido que puede salir de la tarjeta */
    box-sizing: border-box; /* El padding se cuenta como parte del ancho y alto */
    background-color:blue;
}

.tarjeta:hover {
    background-color: #95a5a6; /* Color más oscuro */
    transform: scale(1.1);
}

.tarjeta.expandida {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.tarjeta .contenido {
    display: none;
}

.tarjeta.expandida .contenido {
    display: block;
    text-align: center;
    padding: 20px;
}

.tarjeta.expandida h3 {
    font-size: 2em;
}

.tarjeta.expandida p {
    font-size: 1.2em;
    margin-top: 10px;
}

